<!--app/templates/index.html: 主頁模板-->

{% extends "base.html" %}

{% block content %}
<h1> Hi, {{ current_user.username }} ! </h1>
<h2> Welcom to microblog </h2>
<form action="" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <p>
        <label for="post">Post:</label><br>
        <textarea id="post" name="post" cols="32" rows="4" placeholder="Say something..."></textarea><br>
        {% if post_errors %}
        {% for error in post_errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% endif %}
    </p>
    <p><input type="submit" value="Submit"></p>
</form>
    {% for post in posts %}
    {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}